QWidget
{
	/*background-color: #DBDBDB;*/
}

QPushButton, QToolButton
{
	background-color: #0066cc;
	border-radius: 0px 0px 0px 0px;
	margin : 0px;
	padding-top : 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color : white;
}

QPushButton:hover, QToolButton:hover
{
	margin: 1px;
}

QPushButton:disabled, QToolButton:disabled
{
	background-color: #99ccff;
}

QLineEdit
{
	border-width: 1px;
	border-style: solid;
	border-color:  grey;
}

QLineEdit:focus, QLineEdit:focus:hover
{
	border-color:  #0066cc;
}

QLineEdit:hover
{
	/*background-color: #e6f2ff;*/
	border-color: lightgrey;
	/*border-color:  #0066cc;*/
}

QTabBar::tab {
	padding: 10px;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 1px solid #0066cc;
		border-bottom:  1px solid #0066cc;
		/*border: 0px;*/
}

QTabWidget::tab-bar {
    left: 8px; /* move to the right by 5px */
}

QTabBar::tab:selected {
    background-color:  #FEFEFE;
		border-top: 7px solid #0066cc;
}
QTabBar::tab:selected:hover {
    background-color:  #FEFEFE;
		border-top: 7px solid #0066cc;
}

QTabBar::tab:!selected {
    background-color: #FEFEFE;
}

QTabBar::tab:hover {
    /*background-color: lightgrey;*/
		border-top: 7px solid lightgrey;
}


/*
	=== More specific stuff
*/
DialogTimeTrial
{
	background-color: black;
}

DialogTimeTrial QLabel#m_labelChronoTT:enabled
{
	font: 100pt;
	color: white;
}

DialogTimeTrial QLabel#m_labelChronoTT:disabled
{
	font: 100pt;
	color: red;
}

DialogTimeTrial QLabel#m_labelNumberTT, DialogTimeTrial QLabel#m_labelNameTT
{
	font: 45pt;
	color: white;
}

DialogTimeTrial QLabel#m_count
{
	font: 25pt;
	color: white;
}

RaceController QToolButton#TimeTrialView
{
		background-color: transparent;
		margin : 0px;
		padding-top : 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
    border-image: url(:/qss_icons/rc/icons/desktop.png);
}
RaceController QToolButton#TimeTrialView:hover
{
    margin: 1px;
}

RaceController QToolButton#m_start, RaceController QToolButton#m_stop
{
	background-color: #0066cc;
	border-radius: 0px 0px 0px 0px;
	color : white;
	width: 50px;
	height: 15px;
}

RaceController QToolButton#m_stop:hover, RaceController QToolButton#m_start:hover
{
	margin: 1px;
}

RaceController QToolButton#m_stop:disabled, RaceController QToolButton#m_start:disabled
{
	 background-color: #99ccff;
}

RaceController QToolButton#m_autoTools
{
	image: url(:/qss_icons/rc/icons/settings_white.png);
}

RaceController QToolButton#m_addItem
{
	image: url(:/qss_icons/rc/icons/plus_white.png);
}

RaceController QToolButton#m_link
{
	image: url(:/qss_icons/rc/icons/share.png);
}

RaceController QToolButton#m_link:disabled
{
	background-color: #ff0000;
}

DialogResults #m_tableResults
{
	font-size: 30pt;
	alternate-background-color: lightgrey;
	background-color: white;
}